<link rel="stylesheet" href="./css/transfer.css">
<h2 class="heading">Transfer Admission</h2>
<div class="search">
<form action="/get_uid_details" method="post" id="uidSearchForm">
  <label for="uid">Search UID</label>
  <input type="text" name="uid" id="uid" class="search_box" required>
  <input type="submit" value="Search" class="search_btn">
  <%if (typeof data !='undefined' ){%>
    <%if (data=='no data') {%>
      <div id="popup" class="popup">
        <!-- Popup content -->
        <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h1>User not Found</h1>
        <h1><img src="/img/error.png" alt="" width="100px"></h1>
        </div>
      </div>
   <% }%>
</form>
</div>


<div class="form_sec">  
  <form action="/transfer-submit" method="post" class="Form">
    <div class="form_container">
              <div class="form_div">
                <label for="">Date</label>
                <input type="date" id="date" name="date" class="rectangle-2">
              </div>
              <div class="form_div">
                <label for="">User ID</label>
                <input type="text" id="UID" class="rectangle-3" placeholder="UID" name="uid" value="<%= data ? data.uid : '' %>" readonly><br>
              </div>
              <div class="form_div">
                <label for="">Student Name</label>
                <input type="text" id="s_name" class="rectangle-6" placeholder="Student Name" name="s_name" value="<%= data ? data.s_name : '' %>" readonly>
              </div>
              <div class="form_div">
                <label for="">Old Course</label>
                <input type="text" id="oldcname" name="o_cname" value="<%= data ? data.cname : '' %>"  placeholder="Old Course" readonly><br>
              </div>
              <div class="form_div">
                <div class="flex-row-c">
                  <div class="search-container">
                    <label for="New course">New&nbsp;Course</label>
                    <input type="text" id="searchInput" placeholder="Search..." class="rectangle-3" name="cname" value="<%= data ? data.change : '' %>" required>
                    <select id="mySelect" class="rectangle-4" onchange="UpdateFees(this.value)" required>
                      <option value="default" selected disabled >Choose a course...</option>
                      <% if (typeof options !== 'undefined') { %>
                          <% options.forEach(function(option) { %>
                              <option value="<%= option.title %>"><%= option.title %></option>
                          <% }); %>
                      <% } %>
                  </select>
                  
                  </div>
   
                </div>
              </div>
              <div class="form_div">
                <label for="">Paid Fees</label>
                <input type="text" id="old_fees" class="rectangle-8" readonly value="<%= data ? data.fees : '' %>">
              </div>
              <div class="form_div">
                <label for="">New Fees</label>
                <input type="text" id="new_feess" class="rectangle-8" name="new_fees" readonly>
              </div>
              <div class="form_div">
                <label for="">Balance Fees</label>
                <input type="text" name="balance" id="balance" placeholder="Balance">
              </div>
              <div class="form_div form_div_span">
                <button type="submit" class="rectangle-9" onclick="return confirm('Do you Want to TRANSFER this Student to another Department');">Transfer</button>
              </div>
              
    </div>
               
          <%  }else{%>
            <h2>Without data</h2>
                <div class="rectangle-1">
                  <input type="date" id="date" class="rectangle-2">
                  <div class="flex-row-c">
                    <input type="search" id="Course" class="rectangle-3" placeholder="Search Course">
                    <select name="course" id="Course" class="rectangle-4">
                        <option value="default">Select Course</option>
                        <option value="B.Sc.IT">B.Sc.IT</option>
                    </select>
                  </div>
                  <input type="text" id="token" name="token" class="rectangle-8" placeholder="Token" readonly>
                  <input type="text" id="s_name" class="rectangle-6" placeholder="Enter your name" name="s_name" value="">
                  <input type="text" id="fees" class="rectangle-8" readonly name="fees">
                  <button type="submit" class="rectangle-9" >Transfer</button>
                </div>
               <% } %>
             
        </form>
</div>

        

        <script>
          var feee = document.getElementById('Feee')
          window.onload = function() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); 
            var yyyy = today.getFullYear();
        
            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById('date').value = today;
          };
          const mySelect = document.getElementById('mySelect');
            const feesInput = document.getElementById('new_feess')
          const oldFeesInput = document.getElementById('old_fees');
          const balanceInput = document.getElementById('balance');
          const searchInput = document.getElementById('searchInput');
          document.addEventListener('DOMContentLoaded', function() {
            
          //   const mySelect = document.getElementById('mySelect');
          //   const feesInput = document.getElementById('new_feess')
          // const oldFeesInput = document.getElementById('old_fees');
          // const balanceInput = document.getElementById('balance');
            //const feesInput = document.getElementById('new_fees');
            
            // const balanceInput = document.getElementById('balance');
            const uidSearchForm = document.getElementById('uidSearchForm');
            const uidInput = document.getElementById('uid');
            let originalOptions = Array.from(mySelect.options).map(option => ({ text: option.text, value: option.value }));
        
            // const feesMapping = {
            //     'BA Tamil': 11400, 'BA English': 12400, 'B Com': 17400, 'B Com CA': 17400, 'B Com PA': 17400, 'B Com BI': 16400, 'B Com BA': 16400, 'B Com IT': 17400, 'BBA': 15400, 'BSC Maths': 12400, 'BSC Physics': 12400, 'BSC CS': 19400, 'BSC IT': 19400, 'BSC CT': 17400, 'BCA': 19400, 'BSC IOT': 17400, 'BSC CS AIDS': 17400, 'BSC Physical Education': 13400, 'MA Tamil': 12950, 'MA English': 12950, 'M Com': 12950, 'MSC CS': 12950, 'MSC IT': 12950, 'MSC Physics': 14950, 'MSC Chemistry': 15950, 'MBA': 28950, 'PGDCA': 6050,
            // };
        
            // const uidMiddleMapping = {
            //     'BA Tamil': 'TL', 'BA English': 'EL', 'B Com': 'CO', 'B Com CA': 'CC', 'B Com PA': 'CP', 'B Com BI': 'BI', 'B Com BA': 'CB', 'B Com IT': 'CI', 'BBA': 'BA', 'BSC Maths': 'MA', 'BSC Physics': 'PH', 'BSC CS': 'CS', 'BSC IT': 'IT', 'BSC CT': 'CT', 'BCA': 'CA', 'BSC IOT': 'OT', 'BSC CS AIDS': 'AI', 'BSC Physical Education': 'PE', 'MA Tamil': '12', 'MA English': '10', 'M Com': '03', 'MSC CS': '06', 'MSC IT': '09', 'MSC Physics': '08', 'MSC Chemistry': '11', 'MBA': '13', 'PGDCA': '05', 'CA Foundation': 'CF'
            // };
        
            const currentYearLastTwoDigits = '22'; // Please replace this with actual value
        
            async function updateTokenInput(collectionName) {
                try {
                    const response = await fetch(`/get-collection-count?collectionName=${collectionName}`);
                    const data = await response.json();
                    const tokenNumber = data.count + 1;
                    const uid = generateUID(collectionName, tokenNumber);
                    document.getElementById('token').value = tokenNumber;
                    alert(`UID: ${uid}`);
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        
            function generateUID(courseName, tokenNumber) {
                const middlePart = uidMiddleMapping[courseName] || '';
                return `${currentYearLastTwoDigits}-${middlePart}-${tokenNumber.toString().padStart(3, '0')}`;
            }


          
        
            // function updateFormFields(optionValue) {
            //     // const feesValue = feesMapping[optionValue] || 0;
            //     // feesInput.value = feesValue;
            //     calculateAndDisplayBalance();
            // }
        
            uidSearchForm.addEventListener('submit', function(e) {
                e.preventDefault();
                const formattedUID = formatUID(uidInput.value);
                uidInput.value = formattedUID;
                this.submit();
            });
        
            function formatUID(inputValue) {
                const cleanInput = inputValue.replace(/[^a-zA-Z0-9]/g, '').toUpperCase();
                const match = cleanInput.match(/^(\d{2})([A-Z]{2})(\d{3})$/);
                if (match) {
                    return `${match[1]}-${match[2]}-${match[3]}`;
                } else {
                    return inputValue;
                }
            }
        
            function filterOptions(searchValue) {
                mySelect.innerHTML = '';
                let filteredOptions = originalOptions.filter(option => option.text.toLowerCase().includes(searchValue.toLowerCase()));
        
                filteredOptions.forEach(option => {
                    let newOption = new Option(option.text, option.value);
                    mySelect.add(newOption);
                });
        
                if (filteredOptions.length === 1) {
                    searchInput.value = filteredOptions[0].text;
                    updateFormFields(filteredOptions[0].text);
                }
            }
        
            searchInput.addEventListener('input', function() {
                filterOptions(searchInput.value);
            });
        
            mySelect.addEventListener('change', function() {
                const selectedOptionText = mySelect.options[mySelect.selectedIndex].text;
                searchInput.value = selectedOptionText;
                updateFormFields(selectedOptionText);
            });
        
            filterOptions('');



        });
        
        function calculateAndDisplayBalance() {
        const oldFees = parseFloat(oldFeesInput.value) || 0;
        const newFees = parseFloat(feesInput.value) || 0;
        const balance = newFees - oldFees;
        balanceInput.value = balance.toFixed(2);
        console.log('new Fees',balance);
    }
        function UpdateFees(optionValue) {
              console.log(optionValue);
              <% if (typeof options !== 'undefined') { %>
            <% for (var i = 0; i < options.length; i++) { %>
                if ('<%= options[i].title %>' === optionValue) {
                    console.log('<%= options[i].fees %>');
                    var fees = '<%= options[i].fees %>';
                    console.log(typeof(fees));
                    feesInput.value = fees
                     calculateAndDisplayBalance();
                    //  // Assuming feesInput is defined elsewhere
                }
            <% } %>
        <% } %>
    }
    // function calculateAndDisplayBalance() {
    //             const oldFees = parseFloat(oldFeesInput.value) || 0;
    //             const newFees = parseFloat(feesInput.value) || 0;
    //             const balance = newFees - oldFees;
    //             balanceInput.value = balance.toFixed(2);
    //         }
  function openPopup() {
    document.getElementById("popup").style.display = "block";
}

// Function to close the popup
function closePopup() {
    document.getElementById("popup").style.display = "none";
}
        </script>
        